<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./styles/bootstrap.css">
</head>
<body>
    <header class="navbar navbar-primary header-container">
        <div>
            <h1 class="navbar-toggler">Dashboard</h1>
        </div>
        <div class="nav-drop-down">
            <button id="logout" class="btn btn-danger" type="button">logout</button>
        </div>

    </header>
    <section>
        <div>
            <p th:text="${user.firstname}"></p>
        </div>
        <div>
            <p th:text="${user.lastname}"></p>
        </div>
        <div>
            <p th:text="${user.email}"></p>
        </div>
        <div>
            <p th:text="${user.age}"></p>
        </div>
    </section>
<script src="./js/dashboard.js"> </script>
</body>
</html>