<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <header>
        Dashboard
    </header>
    <section>
        <div>
            <p th:text="${user.firstname}"></p>
        </div>
        <div>
            <p th:text="${user.lastname}"></p>
        </div>
        <div>
            <p th:text="${user.email}"></p>
        </div>
        <div>
            <p th:text="${user.age}"></p>
        </div>
    </section>
</body>
</html>