<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Love center</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
<h1>Welcome to LoveCenter</h1>
<p> where you get to meet wonderful people with various interests and hobby. You can make new friends and find partners</p>
<a href="/login">Login and Continue making friends</a>
<a href="/register">Click here, if you don't have an account</a>
<h1 th:text="${ok}" />
</body>
</html>