<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="./styles/login.css" rel="stylesheet">
    <link href="./styles/bootstrap.css" rel="stylesheet">
</head>
<body>
    <main>
        <form action="/login" method="post">
            <section class="mb-3">
                <label class="form-label" for="email" >
                    Email:
                </label>
                <input id="email" class="form-control" type="email" name="email" placeholder="Enter Email"  aria-describedby="emailHelp"/>
            </section>
            <section class="mb-3">
                <label for="password" class="form-label">
                    Password:
                </label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Enter Password"/>
            </section >
            <input id="submit" type="submit" class="btn btn-primary" />
        </form>

    </main>
<!--    <script src="/js/login.js"></script>-->
</body>
</html>